{%extends 'all/base.html'%} 
{% block content %} 
{{bock.super}}
<section class="header">
    <div class="container">
        <h2>Welcome to</h2>
        <br>
        <h1>ALEXANDER'S PORTFOLIO</h1>
        <br>
        <h3>The best choice for your desired Fullstack Developer</h3>
    </div>
</section>

<section class="about">
<div class="container">
    <!-- displaying About me section -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <h2> Legally, I'm Alexander.</h2>
        <h3>Otherwise, Xander it is.</h3>
        <br>
        <h4>Hey there, meet this budding twenty five year old developer from Nairobi.
        I'm a graduate who holds a second class upper division degree in Business & Information Technology from Jomo Kenyatta University
        of Agriculture and Technology (JKUAT) Passion to solve day to day problems drives me. <br><br>I believe everything should be automated
        given the fast paced and evolving tech werl we are currently in. Developing easy, yet challenging, intuitive and beautiful
        products is my key goal. </h4>
    </div>
    {% for image_item in image %}
    <div class="row" id="image">
        <!--Displaying Alexander's image  -->
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <img src="{{image_item.my_image.url}}" class="img-responsive" alt="Alex's Image">
        </div>
    </div>
    {% endfor %}
</div>
</section> 

<section class="skills">
    <div>
        <h2>MY SKILLS</h2>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3>My zeal is not defined by my skill</h3>
            <br>
            <h4>My skilfulness has been acquired over the years with my onset to programming in university.</h4>
            <br>
            <h4>This has been advanced through my 6 months study at one of the arguably best schools in Africa for software developers: Moringa School, Nairobi.</h4>
        </div>
        <div class="col-md-8">
            <img src="media/avatar/html.png" alt="html logo">
            <img src="media/avatar/django.png" alt="django logo">
            <img src="media/avatar/flask.png" alt="flask logo">
            <img src="media/avatar/python.png" alt="python logo">
            <img src="media/avatar/css.png" alt="css logo">
            <img src="media/avatar/angular.png" alt="angular 5 logo">


        </div>

    </div>

</section>

<section class="projects">
    <h2>MY WORKS</h2>
    <!-- displaying my best projects so far -->
<div class="container">
    {% for project in project %}
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">{{project.project_name}} </div>
                <div class="panel-body">{{project.description}}</div>
                <div class="panel-footer">{{project.link}}</div>
            </div>
        </div>
        {% endfor %}
    </div>
    
</div>
</section>

<section class="contact">

</section>
<section class="footer">
    <div class="container">
        <div class="icons">
            <div class="row">
                <div class="col-md-2 col-md-offset-2">
                    <i class="fab fa-linkedin"></i>
                </div>
                <div class="col-md-2 col-md-offset-2">
                    <i class="fab fa-github"></i>
                </div>
                <div class="col-md-2 col-md-offset-2">
                    <i class="fab fa-twitter"></i>
                </div>
            </div>
        </div>
        <div class="row">
            <h6>© 2018 - All rights reserved</h6>
            <h6>Created and Designed by Xander</h6>

        </div>
    </div>
    

</section>

{% endblock %}

