{%extends 'all/base.html'%} 
{% block content %}
{% load static %} 
{{bock.super}}
<section class="header">
    <div class="container">
        <h2>I'M</h2>
        <br>
        <h1>ALEXANDER KARARI</h1>
        <br>
        <h3>Your best and desired choice for a Fullstack Web Developer</h3>
    </div>
</section>

<section class="about">
<div class="container">
    <!-- displaying About me section -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <h2> Legally, I'm Alexander.</h2>
        <h3>Otherwise, Xander it is <i class="fas fa-smile"></i></h3>
        <br>
        <h4>Hey there, meet this budding twenty five year old developer from Nairobi.
        I'm a graduate who holds a second class upper division degree in Business & Information Technology from Jomo Kenyatta University
        of Agriculture and Technology (JKUAT) <br> Passion to solve day to day problems drives me. <br><br>I believe everything should be automated
        given the fast paced and evolving tech world we are currently in.<br> Developing easy, yet challenging, intuitive and beautiful
        products is my key goal. </h4>
    </div>
    {% for image_item in image %}
    <div class="row" id="image">
        <!--Displaying Alexander's image  -->
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <img src="{{image_item.my_image.url}}" class="img-responsive" alt="Alex's Image">
        </div>
    </div>
    {% endfor %}
</div>
</section> 

<section class="skills">
    <div>
        <h2>MY SKILLS</h2>
    </div>
    <div>
        <h3>My zeal is not defined by my skill</h3>
        <br>
        <h4>My skilfulness has been acquired over the years with my onset to programming in university.</h4>
        <br>
        <h4>This has then been advanced through my 4 months study at one of Africa's arguably best coding bootcamp schools for software developers: Moringa School, Nairobi, after a four year hiatus from coding.</h4>
        
    </div>
    <div class="container imagez">
        <img style="height: 220px; width:215px" src=" media/avatar/htmlcss.png " alt="html/css logo ">
        <img style="height: 220px; width:215px" src="media/avatar/dj.png" alt="django logo" style="size: 100px">
        <img style="height: 220px; width:215px" src="media/avatar/fl.png" alt="flask logo">
        <img style="height: 220px; width:215px" src="media/avatar/python.png" alt="python logo">
        <img style="height: 220px; width:215px" src="media/avatar/ang.png" alt="angular 5 logo">
    </div>
</section>

<section class="projects">
    <h2>MY WORKS</h2>
    <!-- displaying my best projects so far -->
    <div class="container">
        <div class="row">
            <div style="width: 33%" ="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <img class="img-responsive" style="height: 250px; width:350px" src="media/avatar/blog.png" alt="blog">
                    <div class="overlay">
                        
                        <a href="https://bloggeralex.herokuapp.com/" target="_blank"><h2>Personal Blog</h2></a>
                    </div>
                </div>
            </div>
            <div style="width: 33%" class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <img class="img-responsive" style="height: 250px; width:350px" src="media/avatar/gallery.png" alt="gallery">
                    <div class="overlay">
                        
                        <a href="https://lexgallery.herokuapp.com/" target="_blank"><h2>Gallery</h2></a>

                    </div>
                </div>
            </div>
            <div style="width: 33%"class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <img class="img-responsive" style="height: 250px; width:350px" src="media/avatar/github.png" alt="github">
                    <div class="overlay">
                        
                        <a href="https://alexkarari.github.io/Github-project/record" target="_blank"><h2>Github Search</h2></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact">

</section>
<section class="footer">
    <div class="container">
        <div class="icons">
            <div class="row">
                <div class="col-md-2 col-md-offset-2">
                    <a href="https://www.linkedin.com/in/alexanderkarari/" target="_blank"><i class="fab fa-linkedin"></i></a>
                </div>
                <div class="col-md-2 col-md-offset-2">
                    <a href="https://github.com/AlexKarari" target="_blank"><i class="fab fa-github"></i></a>
                </div>
                <div class="col-md-2 col-md-offset-2">
                    <a href="https://twitter.com/Sir_lexander" target="_blank"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <h6>© 2018 - All rights reserved</h6>
            <h6>Created and Designed by Xander</h6>

        </div>
    </div>
    

</section>

{% endblock %}

