{%extends 'all/base.html'%} 
{% block content %} 
{{bock.super}}
<section class="header">
    <div>
        <img src="media/avatar/bg-portfolio.jpg" alt="bg-image">
    </div>

</section>

<section class="services">
    <h3>My Services</h3>
    <div>

    </div>

</section>

<section class="about">
<div class="container">
    {% for image_item in image %}
    <div class="row">
        <!-- displaying About me section -->
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h2 class="text-center"> {{ image_item.about}} </h2>
        </div>
        <!--Displaying Alexander's image  -->
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <img src="{{image_item.my_image.url}}" class="img-responsive" alt="Alex's Image">
        </div>
    </div>
    {% endfor %}
</div>
</section> 

<section class="skills">

</section>

<section class="projects">
<div class="container">
    {% for project_item in project %}
    <div class="row">
        <!-- displaying my best projects so far -->
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h2 class="text-center"> {{ project_item.project_name}} </h2>
        </div>
    </div>
    {% endfor %}
</div>
</section>

<section class="contact">

</section>

{% endblock %}
